# Git Submodules for Tuxbox-OS Builder
#
# To initialize all submodules after cloning:
#   git submodule update --init --recursive
#
# Submodules are pinned to specific commits for reproducibility
# OE-Alliance: branch 5.1 (Yocto Kirkstone), commit 4a05b18f5e
# meta-neutrino: kirkstone-migration branch (migrated to Kirkstone), commit 9ee3484c5f569d6a14a775e2ee0ae97346cb44be
# Poky: branch kirkstone (Yocto 4.0 LTS)
# meta-openembedded: branch kirkstone (Yocto 4.0 LTS)
[submodule "oe-alliance"]
	path = oe-alliance
	url = https://github.com/oe-alliance/oe-alliance-core.git
	branch = 5.1
[submodule "meta-neutrino"]
	path = meta-neutrino
	url = https://github.com/tuxbox-neutrino/meta-neutrino.git
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = kirkstone
