# Git Submodules for Tuxbox-OS Builder
#
# To initialize all submodules after cloning:
#   git submodule update --init --recursive
#
# Submodules are pinned to specific commits for reproducibility
# OE-Alliance: branch 4.0 (Yocto Kirkstone), commit 6b5d3901ecc757e5dadb6d8c95430334532f8960
# meta-neutrino: master (Gatesgarth - NEEDS KIRKSTONE MIGRATION), commit 9acbffbca63dde5e74d73d61155ae419c92a8ce1
[submodule "oe-alliance"]
	path = oe-alliance
	url = https://github.com/oe-alliance/oe-alliance-core.git
	branch = 4.0
[submodule "meta-neutrino"]
	path = meta-neutrino
	url = https://github.com/tuxbox-neutrino/meta-neutrino.git
